@tailwind base;
@tailwind components;
@tailwind utilities;

/* ヘッダー全体のスタイリング */
header {
  background-color: #333; /* ダーク背景 */
  color: #fff; /* テキストカラー */
  padding: 10px 20px; /* パディング */
}

/* ロゴとナビゲーションリンクのスタイリング */
header nav a.logo {
  font-weight: bold;
  color: #fff; /* ロゴのテキストカラー */
  text-decoration: none;
}

header nav ul {
  list-style: none; /* リストスタイルをリセット */
  display: flex; /* ナビゲーションアイテムを横並びにする */
  gap: 20px; /* アイテム間のスペース */
}

header nav ul li a {
  color: #fff; /* リンクのテキストカラー */
  text-decoration: none;
}

/* フッター全体のスタイリング */
footer {
  background-color: #333; /* ダーク背景 */
  color: #fff; /* テキストカラー */
  padding: 10px 20px; /* パディング */
}

/* ロゴとナビゲーションリンクのスタイリング */
footer nav a.logo {
  font-weight: bold;
  color: #fff; /* ロゴのテキストカラー */
  text-decoration: none;
}

footer nav ul {
  list-style: none; /* リストスタイルをリセット */
  display: flex; /* ナビゲーションアイテムを横並びにする */
  gap: 20px; /* アイテム間のスペース */
}



footer nav ul li a {
  color: #fff; /* リンクのテキストカラー */
  text-decoration: none;
}

html,
body,
div#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}
